[Desktop Entry]
Type=Application
Name=Alrotek Gateway
Comment=Ver el Gateway que funciona en segundo plano
Icon=network-workgroup
Categories=Utility;
Exec="@START_SCRIPT@"
Terminal=false
X-GNOME-Autostart-enabled=true
